@charset "utf-8";

.imageViewer_viewer { position: relative; margin:0; padding:0; width:100%; height:100%; overflow:hidden; color-scheme: light dark; }
.imageViewer_viewer:focus { outline: 0; }

.imageViewer_upperDiv { visibility: hidden; display: flex; align-items: center; position: absolute; top: 0px; left:0px; width:100%; padding-top: 0.7em; padding-bottom: 0.7em; background-color: rgba(54, 54, 54, 0.7); color: rgb(241, 241, 241); font-family: "Segoe UI", "Malgun Gothic", "Nanum Gothic"; }
.imageViewer_upperDiv > * { white-space: nowrap; }
.imageViewer_upperDiv .imageViewer_pageDiv { width: 7ex; text-align: center; flex: 0 0 auto; }
.imageViewer_upperDiv .imageViewer_filenameDiv { flex: 1 1 auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.imageViewer_upperDiv .imageViewer_buttonDiv { display: flex; flex: 0 0 auto; }
.imageViewer_upperDiv .imageViewer_buttonDiv > * { width: 3ex; text-align: center; cursor: default; }

.imageViewer_contentDiv { position: relative; width:100%; height:100%; overflow-x:hidden; overflow-y: hidden; scrollbar-width: thin; }
.imageViewer_contentDiv > * { position: absolute; top:0; left:0; width:100%; height:100%; display: flex; justify-content: center; align-items: center; }
.imageViewer_contentDiv > * > * { flex: 0 0 auto; }
.imageViewer_contentDiv > .imageViewer_imageDiv > img { max-width: 100%; max-height: 100%; }
.imageViewer_contentDiv.imageViewer_right_side > * { width: 200%; translate: -25%; }
.imageViewer_contentDiv.imageViewer_right_side > * > * { translate: -25%; clip-path: inset(0 0 0 50%); }
.imageViewer_contentDiv.imageViewer_left_side > * { width: 200%; translate: -25%; }
.imageViewer_contentDiv.imageViewer_left_side > * > * { translate: 25%; clip-path: inset(0 50% 0 0); }

.imageViewer_contentDiv .imageViewer_overlayDiv { transform: scale(var(--scale)); }
.imageViewer_contentDiv.imageViewer_right_side .imageViewer_overlayDiv { translate: calc(-25% * var(--scale)); }
.imageViewer_contentDiv.imageViewer_left_side .imageViewer_overlayDiv { translate: calc(25% * var(--scale)); }

.imageViewer_contentDiv.imageViewer_horizontal_scroll { overflow-y: auto; }
.imageViewer_contentDiv.imageViewer_horizontal_scroll .imageViewer_imageDiv { height: initial; min-height: 100%; }
.imageViewer_contentDiv.imageViewer_horizontal_scroll .imageViewer_imageDiv > img { max-height: initial; }

.imageViewer_contentDiv .imageViewer_overlayTextBoxDiv { position: absolute; display: flex; justify-content: center; align-items: center; }
.imageViewer_contentDiv .imageViewer_overlayTextBoxDiv > * { flex: 0 0 auto; }
.imageViewer_contentDiv .imageViewer_overlayTextDiv { position: absolute; z-index: 1; overflow-wrap: anywhere; color: black; display: flex; justify-content: center; }
.imageViewer_contentDiv .imageViewer_overlayTextDiv > div { position: absolute; top: 0; left: 0; bottom: 0; right: 0; -webkit-text-stroke: 0.8em white; z-index: -1; filter: blur(0.2em); display: flex; justify-content: center; }
.imageViewer_contentDiv .imageViewer_overlayBackDiv > div { position: absolute; background-color: white; filter: blur(0.5em); }
.imageViewer_contentDiv .imageViewer_overlayBackDiv > div::after { display: block; content: ""; position: absolute; top: -0.5em; left: -0.5em; width: calc(100% + 1em); height: calc(100% + 1em); background-color: white; }

.imageViewer_loadingDiv {
	visibility: hidden; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);
	display:flex; justify-content: center; align-items: center;
}

.imageViewer_overlayInputDiv {
	visibility: hidden; position:absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: white;
	display: flex; flex-direction: column;
}
.imageViewer_overlayInputTextarea {
	flex-grow: 1;
}
  
  .imageViewer_loadingDiv > div::after {
	content : "â—";
	color: darkgray;
	margin: 0 0.3rem;
	font-size: 1.2rem;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .imageViewer_loadingDiv > div:nth-of-type(1)::after {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .imageViewer_loadingDiv > div:nth-of-type(2)::after {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }
