<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ComfyUI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            body {
                --bs-body-font-family: "Roboto", serif;
            }
        </style>
        <script>
            let readyPromise = new Promise(async resolve => {
                if (history.state != null) {
                    history.back();
                }
                else {
                    resolve();
                }
            });
        </script>
    </head>
    <body>
        <div id="app">
            <template v-if="true">
                <template v-if="object_info && projects">
                    <div class="position-absolute w-100 h-100 bg-black" v-if="image_number != null">
                        <div class="w-100 h-100 carousel slide">
                            <div class="w-100 h-100 carousel-inner">
                                <div class="w-100 h-100 carousel-item active">
                                    <img class="w-100 h-100 object-fit-scale" :src="project_images[image_number]['src']">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-slide="prev" @click="image_number = Math.max(0, image_number - 1)">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-slide="next" @click="image_number = Math.min(project_images.length - 1, image_number + 1)">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>                    
                        </div>
                    </div>
                    <div class="p-3" v-show="image_number == null">
                        <div class="d-flex flex-column gap-3" v-if="temp_project">
                            <div class="d-flex gap-2" style="max-width: 100%;">
                                <select class="form-select flex-shrink-1" style="width: 20em; min-width: 0;" @change="edit_project(editing_project_name)" v-model="editing_project_name">
                                    <option v-for="project in projects" :value="project.name">{{ project.name }}</option>
                                </select>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary" @click="temp_project=null">Close</button>
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-reference="parent"></button>
                                    <ul class="dropdown-menu">
                                        <li><span class="dropdown-item" @click="add_project()">Add</span></li>
                                        <li><span class="dropdown-item" @click="clone_project(editing_project_name)">Clone</span></li>
                                        <li><span class="dropdown-item" @click="remove_project(editing_project_name)">Remove</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex gap-2" style="max-width: 100%;">
                                <input class="form-control flex-shrink-1" style="width: 20em; min-width: 0;" :class="{'is-invalid': !is_valid_project_name}" v-model="temp_project.name">
                                <button type="button" class="btn btn-success" @click="save_project()">Save</button>
                            </div>
                            <div @input="autocomplete_input($event)" @focusout="filtered_autocomplete = null">
                                <div class="d-flex flex-column gap-3">
                                    <div class="d-flex flex-wrap gap-3">
                                        <div>
                                            Checkpoint
                                            <select class="form-select" style="max-width: 30em;" v-model="temp_project.project.checkpoint">
                                                <option v-for="checkpoint in object_info['CheckpointLoaderSimple']['input']['required']['ckpt_name'][0]" :value="checkpoint">{{ checkpoint }}</option>
                                            </select>
                                        </div>
                                        <div>
                                            CLIP Set Last Layer
                                            <div class="input-group">
                                                <div class="input-group-text">
                                                    <input class="form-check-input mt-0" type="checkbox" v-model="temp_project.project.clip_set_last_layer_bool">
                                                </div>
                                                <input type="number" class="form-control" :disabled="!temp_project.project.clip_set_last_layer_bool" v-bind="object_info['CLIPSetLastLayer']['input']['required']['stop_at_clip_layer'][1]" v-model="temp_project.project.stop_at_clip_layer" >   
                                            </div>                             
                                        </div>
                                        <div>
                                            Size Preset
                                            <select class="form-select" v-model="temp_project.project.size_preset">
                                                <option v-for="size_preset in object_info['EmptyLatentImageFromPresetsSDXL']['input']['required']['preset'][0]" :value="size_preset">{{ size_preset }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        Lora
                                        <div class="d-flex flex-column align-items-start gap-1" v-if="temp_project.project.loras">
                                            <div class="card" v-for="lora in temp_project.project.loras">
                                                <div class="card-body">
                                                    <div class="d-flex flex-wrap gap-3">
                                                        <div>
                                                            Lora Name
                                                            <select class="form-select" v-model="lora.lora_name">
                                                                <option v-for="lora_name in object_info['LoraLoader']['input']['required']['lora_name'][0]" :value="lora_name">{{ lora_name }}</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            Strength Model
                                                            <input type="number" class="form-control" v-bind="object_info['LoraLoader']['input']['required']['strength_model'][1]" v-model="lora.strength_model">
                                                        </div>
                                                        <div>
                                                            Strength Clip
                                                            <input type="number" class="form-control" v-bind="object_info['LoraLoader']['input']['required']['strength_clip'][1]" v-model="lora.strength_clip">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-1">
                                            <button type="button" class="btn btn-secondary" @click="add_lora">Add</button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap gap-3">
                                        <div>
                                            Steps
                                            <input type="number" class="form-control" v-bind="object_info['KSampler']['input']['required']['steps'][1]" v-model="temp_project.project.steps">
                                        </div>
                                        <div>
                                            CFG
                                            <input type="number" class="form-control" v-bind="object_info['KSampler']['input']['required']['cfg'][1]" v-model="temp_project.project.cfg">
                                        </div>
                                        <div>
                                            Sampler
                                            <select class="form-select" v-model="temp_project.project.sampler_name">
                                                <option v-for="sampler_name in object_info['KSampler']['input']['required']['sampler_name'][0]" :value="sampler_name">{{ sampler_name }}</option>
                                            </select>
                                        </div>
                                        <div>
                                            Scheduler
                                            <select class="form-select" v-model="temp_project.project.scheduler">
                                                <option v-for="scheduler in object_info['KSampler']['input']['required']['scheduler'][0]" :value="scheduler">{{ scheduler }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <input class="form-check-input" type="checkbox" v-model="temp_project.project.face_detailer_bool">
                                            Face Detailer
                                        </div>
                                    </div>
                                    <div>
                                        Positive Base
                                        <textarea class="form-control" v-model="temp_project.project.positive_text"></textarea>
                                    </div>
                                    <div>
                                        Negative Base
                                        <textarea class="form-control" v-model="temp_project.project.negative_text"></textarea>
                                    </div>
                                    <div>
                                        Regional Conditioning
                                        <div class="d-flex flex-column gap-1" v-if="temp_project.project.conditions">
                                            <div class="card" v-for="condition in temp_project.project.conditions">
                                                <div class="card-body">
                                                    <div class="d-flex flex-column gap-3">
                                                        <div>
                                                            <button type="button" class="btn btn-secondary" @click="remove_condition(condition)">Remove</button>
                                                        </div>
                                                        <div class="d-flex gap-3">
                                                            <div>
                                                                Width
                                                                <input type="number" class="form-control" v-bind="object_info['ConditioningSetAreaPercentage']['input']['required']['width'][1]" v-model="condition.width">
                                                            </div>
                                                            <div>
                                                                Height
                                                                <input type="number" class="form-control" v-bind="object_info['ConditioningSetAreaPercentage']['input']['required']['height'][1]" v-model="condition.height">
                                                            </div>
                                                            <div>
                                                                X
                                                                <input type="number" class="form-control" v-bind="object_info['ConditioningSetAreaPercentage']['input']['required']['x'][1]" v-model="condition.x">
                                                            </div>
                                                            <div>
                                                                Y
                                                                <input type="number" class="form-control" v-bind="object_info['ConditioningSetAreaPercentage']['input']['required']['y'][1]" v-model="condition.y">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            Text
                                                            <textarea class="form-control" v-model="condition.text"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-1">
                                            <button type="button" class="btn btn-secondary" @click="add_condition">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-absolute overflow-x-auto" ref="autocomplete">
                                    <ul class="list-group list-group-horizontal" v-if="filtered_autocomplete">
                                        <li class="list-group-item text-nowrap" v-for="item in filtered_autocomplete">
                                            <span>{{ item.name }}</span><span class="badge text-bg-secondary">{{ item.count }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-3" v-else>
                            <div class="d-flex flex-wrap gap-3">
                                <div class="d-flex gap-2" style="max-width: 100%;">
                                    <select class="form-select flex-shrink-1" style="width: 20em; min-width: 0;" v-model="active_project_name">
                                        <option v-for="project in projects" :value="project.name">{{ project.name }}</option>
                                    </select>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary" @click="edit_project(active_project_name)">Edit</button>
                                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-reference="parent"></button>
                                        <ul class="dropdown-menu">
                                            <li><span class="dropdown-item" @click="upload_projects">Upload</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex gap-2">
                                    <button type="button" class="btn btn-danger text-nowrap" @click="stop">
                                        Stop <span class="badge text-bg-secondary">{{ queue_remaining }}</span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-column gap-3 align-items-start">
                                    <div class="d-flex gap-2 align-items-center">
                                        <div>
                                            <div class="input-group flex-nowrap">
                                                <button type="button" class="btn btn-primary" @click="queue_prompt">Queue</button>
                                                <input type="number" class="form-control" min="1" max="100" step="1" v-model="batch_count">
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary" @click="clear_project_prompt_ids">Clear</button>
                                        <button type="button" class="btn btn-dark" @click="download_project_images">Download</button>
                                        <div class="px-1">{{ project_images.length }} / {{ prompt_ids.filter(prompt_id => prompt_id.project_name == active_project_name).length }}</div>
                                    </div>
                                    <div class="container">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                                            <div class="col" v-for="(image, index) in project_images">
                                                <div class="position-relative">
                                                    <img class="w-100" :src="image['src']" @click="view_image(index)">
                                                    <button type="button" class="btn-close position-absolute top-0 end-0" @click="delete_image(index)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <div class="d-flex flex-column align-items-start gap-2 p-3" v-else>
                    <div>
                        Server Address
                        <input class="form-control flex-shrink-1" style="width: 30em; min-width: 0;" :class="{'is-invalid': is_valid_server_address == false}" @input="is_valid_server_address = null" v-model="server_address">
                    </div>
                    <div>
                        Access Token
                        <input class="form-control flex-shrink-1" style="width: 30em; min-width: 0;" :class="{'is-invalid': is_valid_access_token == false}" @input="is_valid_access_token = null" v-model="access_token">
                    </div>
                    <button type="button" class="btn btn-primary" :disabled="is_connecting" @click="connect">Connect</button>
                </div>
            </template>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module">
            await readyPromise;
            
            const uuid41 = () => ('xxxxxxxx-xxxx-4xxx-Nxxx-xxxxxxxxxxxx'
                .replace(/x/g, () =>  ((Math.random()*16)|0).toString(16))
                .replace(/N/g, () => ((Math.random()*4)|0 + 8).toString(16)));
            
            const { createApp, toRaw } = await import('https://unpkg.com/vue@3/dist/vue.esm-browser.js')
            const { Octokit } = await import("https://esm.sh/@octokit/core");
            const { default: JSZip } = await import('https://cdn.jsdelivr.net/npm/jszip@3/+esm');

            createApp({
                data() {
                    let access_token = null;
                    try {
                        access_token = JSON.parse(localStorage.getItem("ComfyUI"))?.access_token;
                    }
                    catch (e) {}

                    return {
                        client_id: uuid41(),
                        server_address: "http://127.0.0.1:8188",
                        is_valid_server_address: null,
                        access_token: access_token,
                        is_valid_access_token: null,
                        is_connecting: false,
                        object_info: null,
                        projects: null,
                        active_project_name: null,
                        editing_project_name: null,
                        temp_project: null,
                        queue_remaining: 0,
                        filtered_autocomplete: null,
                        batch_count: 1,
                        images: [],
                        image_number: null,
                        prompt_ids: [],
                    }
                },
                computed: {
                    is_valid_project_name() {
                        if (this.temp_project) {
                            if (this.temp_project.name.trim() == "") return false;
                            if (!this.editing_project || this.temp_project.name != this.editing_project.name) {
                                if (this.projects.find(project => project.name == this.temp_project.name)) return false;
                            }
                        }
                        return true;
                    },
                    project_images() {
                        let prompt_ids = this.prompt_ids.filter(prompt_id => prompt_id.project_name == this.active_project_name).map(prompt_id => prompt_id.prompt_id);
                        return this.images.filter(image => prompt_ids.includes(image['prompt_id']));
                    },
                },
                methods: {
                    get_default(class_type) {
                        let inputs = {};
                        let object_info = this.object_info[class_type];
                        for (let [key, value] of Object.entries(object_info['input']['required'])) {
                            if (!(key in inputs)) {
                                if (value[1] instanceof Object && 'default' in value[1]) {
                                    inputs[key] = value[1]?.['default'];
                                }
                                else if (Array.isArray(value[0])) {
                                    inputs[key] = value[0][0];
                                }
                                else inputs[key] = null;
                            }
                        }
                        return inputs;
                    },
                    async queue_prompt() {
                        let project = null;
                        if (!this.temp_project && this.active_project_name) {
                            project = this.projects.find(project => project.name == this.active_project_name);
                        }
                        else return;

                        project = structuredClone(toRaw(project));
                        for (let _ of Array(this.batch_count)) {
                            let prompt = {};
                            const add_node = (class_type, inputs_ = {}) => {
                                let inputs = structuredClone(inputs_);
                                let object_info = this.object_info[class_type];
                                for (let [key, value] of Object.entries(object_info['input']['required'])) {
                                    if (!(key in inputs)) {
                                        if (value[1] instanceof Object && 'default' in value[1]) {
                                            inputs[key] = value[1]?.['default'];
                                        }
                                        else if (Array.isArray(value[0])) {
                                            inputs[key] = value[0][0];
                                        }
                                        else {
                                            if (value[0] == "STRING") {
                                                inputs[key] = "";
                                            }
                                        }
                                    }
                                }
                                let node = {class_type, inputs};
    
                                let key = String(Math.max(0, ...Object.keys(prompt).map(key => Number(key))) + 1);
                                prompt[key] = node;
                                
                                let outputs = {};
                                for (let [index, output_name] of object_info['output_name'].entries()) {
                                    outputs[output_name] = [key, index];
                                }
                                return outputs;
                            };
    
                            let CheckpointLoaderSimple_node = add_node('CheckpointLoaderSimple', {ckpt_name: project.project.checkpoint});
                            let model_output = CheckpointLoaderSimple_node['MODEL'];
                            let clip_output = CheckpointLoaderSimple_node['CLIP'];
                            let vae_output = CheckpointLoaderSimple_node['VAE'];
    
                            if (project.project.loras) {
                                for (let lora of project.project.loras) {
                                    let LoraLoader_node = add_node('LoraLoader', {
                                        model: model_output, clip: clip_output,
                                        lora_name: lora.lora_name, strength_model: lora.strength_model, strength_clip: lora.strength_clip,
                                    });
                                    model_output = LoraLoader_node['MODEL'];
                                    clip_output = LoraLoader_node['CLIP'];
                                }
                            }
    
                            if (project.project.clip_set_last_layer_bool) {
                                let CLIPSetLastLayer_node = add_node('CLIPSetLastLayer', {stop_at_clip_layer: project.project.stop_at_clip_layer, clip: clip_output});
                                clip_output = CLIPSetLastLayer_node['CLIP'];
                            }
    
                            let CLIPTextEncode_positive_node = add_node('CLIPTextEncode', {text: project.project.positive_text, clip: clip_output});
                            let positive_output = CLIPTextEncode_positive_node['CONDITIONING'];
                            let CLIPTextEncode_negative_node = add_node('CLIPTextEncode', {text: project.project.negative_text, clip: clip_output});
                            let negative_output = CLIPTextEncode_negative_node['CONDITIONING'];
    
                            if (project.project.conditions) {
                                for (let condition of project.project.conditions) {
                                    let CLIPTextEncode_node = add_node('CLIPTextEncode', {text: condition.text, clip: clip_output});
                                    let ConditioningSetAreaPercentage_node = add_node('ConditioningSetAreaPercentage', {
                                        conditioning: CLIPTextEncode_node['CONDITIONING'],
                                        width: condition.width, height: condition.height, x: condition.x, y: condition.y
                                    });
                                    let ConditioningConcat_node = add_node('ConditioningConcat', {conditioning_to: positive_output, conditioning_from: ConditioningSetAreaPercentage_node['CONDITIONING']});
                                    positive_output = ConditioningConcat_node['CONDITIONING'];
                                }
                            }
    
                            let EmptyLatentImageFromPresetsSDXL_node = add_node('EmptyLatentImageFromPresetsSDXL', {preset: project.project.size_preset});
    
                            let KSampler_seed_info = this.object_info['KSampler']['input']['required']['seed'][1];
                            let KSampler_seed = Math.floor(Math.random() * (KSampler_seed_info['max'] - KSampler_seed_info['min']) + KSampler_seed_info['min']);
                            let KSampler_node = add_node('KSampler', {
                                model: model_output,positive: positive_output, negative: negative_output, latent_image: EmptyLatentImageFromPresetsSDXL_node['latent'],
                                seed: KSampler_seed, steps: project.project.steps, cfg: project.project.cfg, sampler_name: project.project.sampler_name, scheduler: project.project.scheduler,
                            });
                            
                            let VAEDecode_node = add_node('VAEDecode', {samples: KSampler_node['LATENT'], vae: vae_output});
                            let image_output = VAEDecode_node['IMAGE'];
    
                            if (project.project.face_detailer_bool) {
                                let UltralyticsDetectorProvider_node = add_node('UltralyticsDetectorProvider');
                                let FaceDetailer_seed_info = this.object_info['FaceDetailer']['input']['required']['seed'][1];
                                let FaceDetailer_seed = Math.floor(Math.random() * (FaceDetailer_seed_info['max'] - FaceDetailer_seed_info['min']) + FaceDetailer_seed_info['min']);
                                let FaceDetailer_node = add_node('FaceDetailer', {
                                    image: image_output, model: model_output, clip: clip_output, vae: vae_output, positive: positive_output, negative: negative_output,
                                    seed: FaceDetailer_seed, steps: project.project.steps, cfg: project.project.cfg, sampler_name: project.project.sampler_name, scheduler: project.project.scheduler,
                                    bbox_detector: UltralyticsDetectorProvider_node['BBOX_DETECTOR'],
                                });
                                image_output = FaceDetailer_node['image'];
                            }
    
                            add_node('PreviewImage', {images: image_output});

                            let prompt_id = (await (await fetch(`${this.server_address}/prompt`, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({"prompt": prompt, "client_id": this.client_id}),
                            })).json())['prompt_id'];

                            this.prompt_ids.push({prompt_id: prompt_id, project_name: project.name});
                        }
                    },
                    async remove_prompts(prompt_ids) {
                        for (let prompt_id of prompt_ids) {
                            let idx = this.prompt_ids.indexOf(prompt_id);
                            if (idx >= 0) {
                                this.prompt_ids.splice(idx, 1);
                            }
                        }
                        
                        let prompt_ids_ = prompt_ids.map(prompt_id => prompt_id.prompt_id);
                        await fetch(`${this.server_address}/queue`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({"delete": prompt_ids_}),
                        });
                        await fetch(`${this.server_address}/history`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({"delete": prompt_ids_}),
                        });

                        let running_prompt_id = (await (await fetch(`${this.server_address}/queue`)).json())['queue_running'][0]?.[1];
                        if (running_prompt_id && prompt_ids_.includes(running_prompt_id)) {
                            await fetch(`${this.server_address}/interrupt`, {
                                method: "POST",
                            });
                        }
                    },
                    async stop() {
                        let queue = await (await fetch(`${this.server_address}/queue`)).json();
                        let queue_prompt_ids_ = [...queue['queue_running'], ...queue['queue_pending']].map(queue => queue[1]);
                        let prompt_ids = this.prompt_ids.filter(prompt_id => queue_prompt_ids_.includes(prompt_id.prompt_id));
                        this.remove_prompts(prompt_ids);
                    },
                    async retrieve() {
                        let images = [];
                        Object.values((await (await fetch(`${this.server_address}/history`)).json()))
                            .sort((a, b) => (a['prompt']?.[0] > b['prompt']?.[0]))
                            .forEach(history => {
                                for (let node_id of Object.keys(history['outputs'])) {
                                    let node_output = history['outputs'][node_id];
                                    if ('images' in node_output) {
                                        for (let image of node_output['images']) {
                                            let data = {"filename": image['filename'], "subfolder": image['subfolder'], "type": image['type']};
                                            let params = new URLSearchParams(data);
                                            let url_values = params.toString();
                                            data['src'] = `${this.server_address}/view?${url_values}`;
                                            data['prompt_id'] = history['prompt']?.[1];
                                            images.push(data);
                                        }
                                    }
                                }
                            });
                        this.images = images;
                        
                        let queue = await (await fetch(`${this.server_address}/queue`)).json();
                        this.queue_remaining = queue['queue_running'].length + queue['queue_pending'].length;
                    },
                    edit_project(project_name) {
                        if (project_name) {
                            let project = this.projects.find(project => project.name == project_name);
                            if (project) {
                                this.active_project_name = project.name;
                                this.editing_project_name = project.name;
                                this.temp_project = {
                                    name: project.name,
                                    project: structuredClone(toRaw(project.project)),
                                };
                            }
                        }
                        else this.add_project();
                    },
                    add_project() {
                        let default_CheckpointLoaderSimple = this.get_default('CheckpointLoaderSimple');
                        let default_EmptyLatentImageFromPresetsSDXL = this.get_default('EmptyLatentImageFromPresetsSDXL');
                        let default_KSampler = this.get_default('KSampler');
                        let default_CLIPSetLastLayer = this.get_default('CLIPSetLastLayer');
                        
                        this.editing_project_name = null;
                        this.temp_project = {
                            name: "",
                            project: {
                                checkpoint: default_CheckpointLoaderSimple['ckpt_name'],
                                size_preset: default_EmptyLatentImageFromPresetsSDXL['preset'],
                                steps: default_KSampler['steps'],
                                cfg: default_KSampler['cfg'],
                                sampler_name: default_KSampler['sampler_name'],
                                scheduler: default_KSampler['scheduler'],
                                stop_at_clip_layer: default_CLIPSetLastLayer['stop_at_clip_layer'],
                            }
                        };
                    },
                    clone_project(project_name) {
                        if (project_name) {
                            let project = this.projects.find(project => project.name == project_name);
                            if (project) {
                                this.editing_project_name = "";
                                this.temp_project = {
                                    name: project.name,
                                    project: structuredClone(toRaw(project.project)),
                                };
                            }
                        }
                    },
                    remove_project(project_name) {
                        if (project_name) {
                            let idx = this.projects.findIndex(project => project.name == project_name);
                            if (idx >= 0) {
                                this.projects.splice(idx, 1);
                                this.remove_prompts(this.prompt_ids.filter(prompt_id => prompt_id.project_name == project_name));
                                if (project_name == this.active_project_name) {
                                    if (this.projects.length == 0) {
                                        this.active_project_name = null;
                                    }
                                    else if (idx < this.projects.length) {
                                        this.active_project_name = this.projects[idx].name;
                                    }
                                    else {
                                        this.active_project_name = this.projects[this.projects.length - 1].name;
                                    }
                                }
                            }
                        }
                    },
                    save_project() {
                        if (this.is_valid_project_name) {
                            if (this.editing_project_name) {
                                let editing_project = this.projects.find(project => project.name == this.editing_project_name);
                                editing_project.name = this.temp_project.name;
                                editing_project.project = structuredClone(toRaw(this.temp_project.project));
                                this.remove_prompts(this.prompt_ids.filter(prompt_id => prompt_id.project_name == this.editing_project.name));
                            }
                            else {
                                this.projects.push({
                                    name: this.temp_project.name,
                                    project: structuredClone(toRaw(this.temp_project.project))
                                });
                            }
                            
                            this.edit_project(this.temp_project.name);
                        }
                    },
                    /*upload_project() {
                        let input = document.createElement('input');
                        input.type = 'file';
                        input.style.display = 'none';
                        input.addEventListener('change', _ => {
                            for (let file of input.files) {
                                const reader = new FileReader();
                                reader.addEventListener('load', _ => {
                                    let project = JSON.parse(reader.result);
                                    this.temp_project = {
                                        name: project.name,
                                        project: project.project,
                                    };
                                });
                                reader.readAsText(file);
                            }
                        });
                        input.click();
                    },
                    download_project() {
                        if (this.active_project_name) {
                            let project = structuredClone(toRaw(this.projects.find(project => project.name == this.active_project_name)));
                            let url = window.URL.createObjectURL(new Blob([JSON.stringify(project)], {type: 'application/octet-stream'}));
                            const iframe = document.createElement('iframe');
                            iframe.style.display = 'none';
                            iframe.addEventListener('load', _ => {
                                let a = iframe.contentDocument.createElement('a');
                                a.download = `${project.name}.json`
                                a.href = url;
                                a.click();
                                setTimeout(_ => {
                                    iframe.remove();
                                    window.URL.revokeObjectURL(url);
                                }, 100);
                            }, { once: true });
                            document.body.appendChild(iframe);
                        }
                    },*/
                    add_lora() {
                        if (!this.temp_project.project.loras) {
                            this.temp_project.project.loras = [];
                        }
                        let default_LoraLoader = this.get_default('LoraLoader');
                        this.temp_project.project.loras.push({
                            lora_name: default_LoraLoader['lora_name'],
                            strength_model: default_LoraLoader['strength_model'],
                            strength_clip: default_LoraLoader['strength_clip'],
                        });
                    },
                    remove_lora(lora) {
                        let idx = this.temp_project.project.loras.indexOf(lora);
                        this.temp_project.project.loras.splice(idx, 1);
                    },
                    add_condition() {
                        if (!this.temp_project.project.conditions) {
                            this.temp_project.project.conditions = [];
                        }
                        let default_ConditioningSetAreaPercentage = this.get_default('ConditioningSetAreaPercentage');
                        this.temp_project.project.conditions.push({
                            width: default_ConditioningSetAreaPercentage['width'],
                            height: default_ConditioningSetAreaPercentage['height'],
                            x: default_ConditioningSetAreaPercentage['x'],
                            y: default_ConditioningSetAreaPercentage['y'],
                        });
                    },
                    remove_condition(condition) {
                        let idx = this.temp_project.project.conditions.indexOf(condition);
                        this.temp_project.project.conditions.splice(idx, 1);
                    },
                    connect_socket() {
                        try { this.socket.close(); } catch (e) {}
                        this.socket = new WebSocket(`${this.server_address}/ws?clientId=${this.client_id}`);
                        this.socket.addEventListener("message", async event => {
                            // console.log("Message from server ", event.data);
                            let data = {}
                            try { data = JSON.parse(event.data); } catch(e) {}
                            if (data.type == "status") {
                                this.retrieve();
                            }
                        });
                    },
                    async connect() {
                        this.is_connecting = true;
                        try {
                            this.connect_socket();

                            this.object_info = await (await fetch(`${this.server_address}/object_info`)).json();

                            try {
                                this.autocomplete = (await (await fetch(`${this.server_address}/pysssss/autocomplete`)).text())
                                    .split('\n').map(item => item.split(','))
                                    .map(item => ({
                                        name: ['(', ')', '[', ']'].reduce((acc, cur) => acc.replaceAll(cur, '\\' + cur), item[0].trim().replaceAll('_', ' ')),
                                        count: Number(item[1].trim())
                                    }));
                            }
                            catch (e) {}
                        }
                        catch (e) {
                            console.error(e);
                            this.is_valid_server_address = false;
                        }

                        try {
                            if (this.access_token) {
                                this.octokit = new Octokit({
                                    auth: this.access_token
                                });
                                await this.download_projects();

                                let settings = {};
                                try {
                                    settings = JSON.parse(localStorage.getItem("ComfyUI")) ?? {};
                                }
                                catch (e) {}
                                settings.access_token = this.access_token;
                                localStorage.setItem("ComfyUI", JSON.stringify(settings));
                            }
                            else {
                                this.is_valid_access_token = false;
                            }
                        }
                        catch (e) {
                            console.error(e);
                            this.is_valid_access_token = false;
                        }

                        this.is_connecting = false;
                    },
                    async upload_projects() {
                        let url = "/gists";
                        const nextPattern = /(?<=<)([\S]*)(?=>; rel="Next")/i;
                        let pagesRemaining = true;
                        let found = false;
                        let files = {
                            'ComfyUI.json': {
                                content: JSON.stringify({
                                    projects: this.projects,
                                })
                            }
                        };
                        while (pagesRemaining) {
                            const response = await this.octokit.request(`GET ${url}`, {
                                per_page: 100,
                                headers: {
                                    'X-GitHub-Api-Version': '2022-11-28'
                                }
                            });

                            for (let gist of response.data) {
                                for (let file of Object.values(gist.files)) {
                                    if (file.filename == "ComfyUI.json") {
                                        found = true;
                                        let response = await this.octokit.request(`PATCH /gists/${gist.id}`, {
                                            files: files,
                                            headers: {
                                                'X-GitHub-Api-Version': '2022-11-28'
                                            }
                                        });
                                        console.log(response);
                                    }
                                    if (found) break;
                                }
                                if (found) break;
                            }
                            if (found) break;

                            const linkHeader = response.headers.link;

                            pagesRemaining = linkHeader && linkHeader.includes(`rel=\"next\"`);

                            if (pagesRemaining) {
                                url = linkHeader.match(nextPattern)[0];
                            }
                        }
                        if (!found) {
                            let response = await this.octokit.request(`POST /gists`, {
                                public: false,
                                files: files,
                                headers: {
                                    'X-GitHub-Api-Version': '2022-11-28'
                                }
                            });
                            console.log(response);
                        }
                    },
                    async download_projects() {
                        let url = "/gists";
                        const nextPattern = /(?<=<)([\S]*)(?=>; rel="Next")/i;
                        let pagesRemaining = true;
                        let found = false;
                        while (pagesRemaining) {
                            const response = await this.octokit.request(`GET ${url}`, {
                                per_page: 100,
                                headers: {
                                    'X-GitHub-Api-Version': '2022-11-28'
                                }
                            });

                            for (let gist of response.data) {
                                for (let file of Object.values(gist.files)) {
                                    if (file.filename == "ComfyUI.json") {
                                        found = true;
                                        try {
                                            let json = await (await fetch(file.raw_url)).json();
                                            this.projects = json.projects;
                                            console.log(gist);
                                        }
                                        catch (e) {
                                            console.error(e);
                                        }
                                    }
                                    if (found) break;
                                }
                                if (found) break;
                            }
                            if (found) break;

                            const linkHeader = response.headers.link;

                            pagesRemaining = linkHeader && linkHeader.includes(`rel=\"next\"`);

                            if (pagesRemaining) {
                                url = linkHeader.match(nextPattern)[0];
                            }
                        }
                        if (!this.projects) {
                            this.projects = [];
                        }
                    },
                    async clear_history() {
                        await fetch(`${this.server_address}/history`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({"clear": true}),
                        });
                        this.images = [];
                    },
                    clear_project_prompt_ids() {
                        this.remove_prompts(this.prompt_ids.filter(prompt_id => prompt_id.project_name == this.active_project_name));
                    },
                    async download_project_images() {
                        var zip = new JSZip();
                        for (let image of this.project_images) {
                            let response = await fetch(image['src']);
                            let blob = await response.blob();
                            zip.file(image.filename, blob);
                        }
                        let content = await zip.generateAsync({type:"blob"});
                        const url = window.URL.createObjectURL(content);
                        const iframe = document.createElement('iframe');
                        iframe.style.display = 'none';
                        iframe.addEventListener('load', _ => {
                            let a = iframe.contentDocument.createElement('a');
                            a.href = url;
                            a.click();
                            setTimeout(_ => {
                                iframe.remove();
                                window.URL.revokeObjectURL(url);
                            }, 100);
                        }, { once: true });
                        document.body.appendChild(iframe);
                    },
                    view_image(index) {
                        history.pushState({image_number: index}, "");
                        this.image_number = index;
                    },
                    delete_image(index) {
                        let prompt_id = this.prompt_ids.find(prompt_id => prompt_id.prompt_id == this.project_images[index]['prompt_id']);
                        this.remove_prompts([prompt_id]);
                    },
                    autocomplete_input(event) {
                        let target = event.target;
                        if (target.tagName.toLowerCase() == 'textarea') {
                            let text = target.value;
                            let end = event.target.selectionEnd;
                            let start = text.substring(0, end).lastIndexOf(',');
                            let segment = text.substring(start+1, end).trim();
                            if (segment != "") {
                                let result = this.autocomplete.filter(autocomplete => autocomplete.name.includes(segment));
                                this.filtered_autocomplete = result.slice(0, 25);
                                let target_rect = target.getBoundingClientRect();
                                let parent_rect = this.$refs.autocomplete.offsetParent.getBoundingClientRect();
                                this.$refs.autocomplete.style.top = `${target_rect.top - parent_rect.top}px`;
                                this.$refs.autocomplete.style.left = `${target_rect.left - parent_rect.left}px`;
                                this.$refs.autocomplete.style.width = `${target_rect.width}px`;
                                this.$refs.autocomplete.style.transform = 'translate(0, -100%)';
                            }
                            else this.filtered_autocomplete = null;
                        }
                    },
                },
                async created() {                    
                    window.addEventListener('popstate', e => {
                        if (history.state == null) {
                            this.image_number = null;
                        }
                    });
                    document.addEventListener("visibilitychange", e => {
                        if (document.visibilityState === "visible") {
                            if (this.object_info) {
                                this.connect_socket();
                            }
                        }
                    });
                    document.addEventListener("keydown", e => {
                        if (this.image_number != null) {
                            if (e.key == "Escape") {
                                if (history.state != null) {
                                    history.back();
                                }
                            }
                            else if (e.key == "ArrowLeft") {
                                this.image_number = Math.max(0, this.image_number - 1);
                            }
                            else if (e.key == "ArrowRight") {
                                this.image_number = Math.min(this.project_images.length - 1, this.image_number + 1);
                            }
                        }
                    });
                    
                    let server_address = (new URLSearchParams(location.search)).get('server_address');
                    if (server_address) {
                        this.server_address = server_address;
                    }

                    this.$watch(_ => [this.projects, this.active_project_name], _ => {
                        if (!this.projects.find(project => project.name == this.active_project_name)) {
                            if (this.projects.length > 0) {
                                this.active_project_name = this.projects[0].name;
                            }
                            else this.active_project_name = null;
                        }
                    }, { deep: true } );
                },
            }).mount('#app')
        </script>
    </body>
</html>
